@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Montserrat&family=Orbitron&family=Oswald:wght@700&family=PT+Sans+Narrow&family=Roboto&family=Satisfy&family=Tektur&display=swap');

body{
    margin: 0;

    background-color: #111;
}

a{
    margin: 0;
    padding: 0;
}


@media (max-width: 768px){
    header{
        width: 100%;
        height: 7rem;



        background-color: #010101;
    }

    .container{
        width: 95%;
        height: 400rem;

        margin: auto;
    }

    .title.v1{
        width: 100%;
        height: auto;

        font-family: 'Oswald';
        font-size: 1.8rem;
        color: white;

        text-decoration: underline;

        text-shadow: 0 0 0.6rem white;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 1rem;
    }

    .title.v1 p{
        margin: 0;
    }

    .title.v2{
        width: 90%;
        height: auto;

        font-family: 'Oswald';
        font-size: 1.3rem;
        color: white;

        text-shadow: 0 0 0.3rem white;

        display: flex;
        align-items: center;
        justify-content: left;

        margin: auto;
    }

    .title.v3{
        width: 90%;
        height: auto;

        font-family: 'Oswald';
        font-size: 1.3rem;
        color: white;

        font-style: italic;
        text-decoration: underline;

        text-shadow: 0 0 0.6rem white;

        display: flex;
        align-items: center;
        justify-content: center;

        margin: auto;
    }

    .text.v1{
        width: 90%;
        height: auto;

        font-family: 'Oswald';
        font-size: 1.2rem;
        color: white;

        text-align: center;

        text-shadow: 0 0 0.3rem white;

        margin: auto;
    }

    .text.v2{
        width: 90%;
        height: auto;

        font-family: 'Oswald';
        font-size: 1.1rem;
        color: white;

        text-align: left;

        text-shadow: 0 0 0.5rem white;

        margin: auto;
    }

    .for.image.v1{
        width: 90%;
        height: 20rem;

        display: flex;
        overflow: hidden;

        margin: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.632);

        background-position: center;
        background-repeat: no-repeat;
        background-size: 140%;

        image-rendering: pixelated;
        filter: grayscale(0%) sepia(5%) brightness(130%) hue-rotate(3deg) contrast(110%) saturate(140%) invert(0%) blur(0.01rem);

        background-image: url(image/criança.jpeg);
    }

    .for.image.v2{
        width: 90%;
        height: 20rem;

        display: flex;
        overflow: hidden;

        margin: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.632);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        image-rendering: pixelated;
        filter: grayscale(0%) sepia(0%) brightness(120%) hue-rotate(2deg) contrast(122%) saturate(125%) invert(0%);

        background-image: url(image/casa.jpg);
    }

    .for.image.v3{
        width: 90%;
        height: 20rem;

        display: flex;
        overflow: hidden;

        margin: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.632);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        image-rendering: pixelated;
        filter: grayscale(0%) sepia(0%) brightness(110%) hue-rotate(1deg) contrast(102%) saturate(185%) invert(0%);

        background-image: url(image/busão.jpeg);
    }

    .for.image.v4{
        width: 90%;
        height: 20rem;

        display: flex;
        overflow: hidden;

        margin: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.632);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        image-rendering: pixelated;
        filter: grayscale(0%) sepia(0%) brightness(150%) hue-rotate(1deg) contrast(102%) saturate(135%) invert(0%);

        background-image: url(image/ingr.jpeg);
    }

    .for.image.v5{
        width: 90%;
        height: 20rem;

        display: flex;
        overflow: hidden;

        margin: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.632);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        image-rendering: pixelated;
        filter: grayscale(0%) sepia(0%) brightness(110%) hue-rotate(1deg) contrast(102%) saturate(185%) invert(0%);

        background-image: url(image/eu.jpeg);
    }

    .for.image.v6{
        width: 90%;
        height: 20rem;

        display: flex;
        overflow: hidden;

        margin: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.632);

        background-position: center;
        background-repeat: no-repeat;
        background-size: 170%;

        image-rendering: pixelated;
        filter: grayscale(0%) sepia(0%) brightness(110%) hue-rotate(1deg) contrast(122%) saturate(125%) invert(0%);

        background-image: url(image/esther.jpeg);
    }

    .for.image.v7{
        width: 90%;
        height: 20rem;

        display: flex;
        overflow: hidden;

        margin: auto;
        border-radius: 0.3rem;
        box-shadow: 0 0 0.5rem 0.1rem rgba(255, 255, 255, 0.632);

        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        image-rendering: pixelated;
        filter: grayscale(22%) sepia(33%) brightness(110%) hue-rotate(3deg) contrast(122%) saturate(190%) invert(0%);

        background-image: url(image/babu.jpg);
    }

    .centralizar{
        width: 100%;
        height: auto;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .next{
        width: 20rem;
        height: 3rem;

        margin-top: 5rem;

        font-family: 'Oswald';
        font-size: 1.3rem;
        color: rgb(106, 102, 102);

        border: none;
        border-radius: 0.3rem;

        transition: color 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
        background-color: transparent;
    }

    .next:hover{
        color: white;
        box-shadow: 0 0 0.2rem white;
        background-color: rgba(71, 67, 67, 0.599);
    }

}
